{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des batiments</h1>
    {% for batiment in batiments %}
        {{ component('batiment', { batiment: batiment }) }}
    {% endfor %}
{% endblock %}